<nav class="side-nav">
  <a href="/panel/products" class="intro-x flex items-center pr-5 pt-4">
    <!-- <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="/dist/images/logo.svg" /> -->
    <span class="hidden xl:block text-white text-lg mr-3"><span class="font-medium">پنل مدیریت</span> </span>
  </a>
  <div class="side-nav__devider my-6"></div>

  <ul>

<!-- menu products -->
    <% const checkUrlProducts = pageInfo.pathUrl == "/panel/products" || pageInfo.pathUrl == "/panel/products-buy" || pageInfo.pathUrl == "/panel/products-sell"  || pageInfo.pathUrl == "/panel/products-defects" %>
      <li>
        <a href="javascript:;" class="side-menu <%- checkUrlProducts ? "side-menu--active" : "" %>">
          <div class="side-menu__icon"><i data-feather="home"></i></div>
          <div class="side-menu__title">محصولات<div class="side-menu__sub-icon"><i data-feather="chevron-down"></i></div></div>
        </a>

        <ul class="<%-checkUrlProducts ? "side-menu__sub-open" : "" %>">
            <li>
              <a href="/panel/products" class="side-menu <%-pageInfo.pathUrl == "/panel/products" ? "side-menu--active" : "" %>">
                <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">مدیریت محصولات</div>
              </a>
            </li>
            <li>
              <a href="/panel/products-buy" class="side-menu <%-pageInfo.pathUrl == "/panel/products-buy" ? "side-menu--active" : "" %>">
                <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">خرید</div>
              </a>
            </li>
            <li>
              <a href="/panel/products-sell" class="side-menu <%-pageInfo.pathUrl == "/panel/products-sell" ? "side-menu--active" : "" %>">
                <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">فروش</div>
              </a>
            </li>
            <li>
              <a href="/panel/products-defects" class="side-menu <%-pageInfo.pathUrl == "/panel/products-defects" ? "side-menu--active" : "" %>">
                <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">نواقص محصولات</div>
              </a>
            </li>
        </ul>
      </li>
<!-- robot -->
<% const checkUrlRobot = pageInfo.pathUrl == "/panel/robot-control" ||  pageInfo.pathUrl == "/panel/robot-history"  %>
<li>
  <a href="javascript:;" class="side-menu <%- checkUrlRobot ? "side-menu--active" : "" %>">
    <div class="side-menu__icon"><i data-feather="home"></i></div>
    <div class="side-menu__title">ربات<div class="side-menu__sub-icon"><i data-feather="chevron-down"></i></div></div>
  </a>

  <ul class="<%-checkUrlRobot ? "side-menu__sub-open" : "" %>">
      <li>
        <a href="/panel/robot-control" class="side-menu <%-pageInfo.pathUrl == "/panel/robot-control" ? "side-menu--active" : "" %>">
          <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">مدیریت</div>
        </a>
      </li>
      <li>
        <a href="/panel/robot-history" class="side-menu <%-pageInfo.pathUrl == "/panel/robot-history" ? "side-menu--active" : "" %>">
          <div class="side-menu__icon"><i data-feather="activity"></i></div><div class="side-menu__title">تاریخچه تغییرات</div>
        </a>
      </li>
  </ul>
</li>
<!-- menu sellers -->
    <li>
      <a href="/panel/sellers" class="side-menu <%-pageInfo.pathUrl == "/panel/sellers" ? "side-menu--active" : "" %> ">
        <div class="side-menu__icon"><i data-feather="calendar"></i></div><div class="side-menu__title">فروشندگان</div>
      </a>
    </li>
<!-- menu color and category -->
    <li>
      <a href="/panel/category-color" class="side-menu <%-pageInfo.pathUrl == "/panel/category-color" ? "side-menu--active" : "" %>">
        <div class="side-menu__icon"><i data-feather="calendar"></i></div><div class="side-menu__title">رنگ و دسته بندی</div>
      </a>
    </li>

  </ul>

</nav>
