<span class="message-success" style="display: none"><%=locals.messages.success%></span>
<span class="message-error" style="display: none"><%=locals.messages.error%></span>

<div id="loader" class="hidden">
  <div id="myspinner">
    <svg width="20" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="rgb(45, 55, 72)" class="w-8 h-8">
      <rect y="10" width="15" height="120" rx="6">
        <animate
          attributeName="height"
          begin="0.5s"
          dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120"
          calcMode="linear"
          repeatCount="indefinite"
        ></animate>
        <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
      </rect>
      <rect x="30" y="10" width="15" height="120" rx="6">
        <animate
          attributeName="height"
          begin="0.25s"
          dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120"
          calcMode="linear"
          repeatCount="indefinite"
        ></animate>
        <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
      </rect>
      <rect x="60" width="15" height="140" rx="6">
        <animate attributeName="height" begin="0s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"></animate>
        <animate attributeName="y" begin="0s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
      </rect>
      <rect x="90" y="10" width="15" height="120" rx="6">
        <animate
          attributeName="height"
          begin="0.25s"
          dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120"
          calcMode="linear"
          repeatCount="indefinite"
        ></animate>
        <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
      </rect>
      <rect x="120" y="10" width="15" height="120" rx="6">
        <animate
          attributeName="height"
          begin="0.5s"
          dur="1s"
          values="120;110;100;90;80;70;60;50;40;140;120"
          calcMode="linear"
          repeatCount="indefinite"
        ></animate>
        <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"></animate>
      </rect>
    </svg>
  </div>
</div>
<div class="content">
  <!-- BEGIN: Top Bar -->
  <div class="top-bar">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb ml-auto hidden sm:flex">
      <a href="">داشبورد</a> <i data-feather="chevron-left" class="breadcrumb__icon"></i>
      <a href="<%-pageInfo?.pathUrl %>" class="breadcrumb--active"><%-pageInfo?.pathTitle %></a>
    </div>
    <!-- END: Breadcrumb -->

    <!-- BEGIN: Notifications -->
    <%-include("../../../layouts/panel/partials/_notification.ejs")%>
    <!-- END: Notifications -->
    <!-- BEGIN: Account Menu -->
    <%-include("../../../layouts/panel/partials/_account_menu.ejs")%>
    <!-- END: Account Menu -->
  </div>
  <!-- END: Top Bar -->

  <div class="container-xxl flex-grow-1 container-p-y" id="scroll">
    <h2 class="intro-y text-lg font-medium m-2"><%-pageInfo?.pathTitle %></h2>
    <div class="flex flex-col cursor-pointer justify-between sm:flex-row sm:w-full">
      <div class="flex">
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
          <div class="w-full relative text-gray-700 dark:text-gray-300">
            <input id="input-search" type="text" class="form-control w-full box pl-10 placeholder-theme-13" placeholder="جستجو..."
            value="<%-pageInfo?.query?.search ? pageInfo?.query?.search : ""%>" />

            <i id="btn-search" class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0" data-feather="search"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="grid md:grid-cols-3 gap-4 mt-3">
      <div class="flex">
        <select id="color-select-box" data-placeholder="انتخاب رنگ" data-search="true" class="tail-select w-full z-[53]" multiple>
          <!---->
          <% colors.forEach(color => { %>
          <!---->
          <% if(pageInfo?.query?.color?.split(",").includes(color.name)){%>
          <option selected value="<%-color.name%>"><%-color.name %></option>
          <%} else {%>
          <option value="<%-color.name%>"><%-color.name %></option>
          <% } %><% }) %>
        </select>
      </div>

      <div class="flex">
        <select id="category-select-box" data-placeholder="انتخاب دسته بندی" data-search="true" class="tail-select w-full z-[52]" multiple>
          <% categories.forEach(category => { %>
          <!---->
          <% if(pageInfo?.query?.category?.split(",").includes(category.name)){%>
          <option selected value="<%-category.name%>"><%-category.name %></option>
          <%} else {%>
          <option value="<%-category.name%>"><%-category.name %></option>
          <% } %><% }) %>
        </select>
      </div>

      <div class="flex">
        <select id="seller-select-box" data-placeholder="انتخاب فروشنده" data-search="true" class="tail-select w-full z-[51]" multiple>
          <% sellers.forEach(seller => { %>
          <!---->
          <% if(pageInfo?.query?.seller?.split(",").includes(seller?.sellerTitle)){%>
          <option selected value="<%-seller.sellerTitle%>"><%-seller.sellerTitle %></option>
          <%} else {%>
          <option value="<%-seller.sellerTitle%>"><%-seller.sellerTitle %></option>
          <% } %><% }) %>
        </select>
      </div>
    </div>

    <div class="grid min-[2300px]:grid-cols-8 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-6 mt-5" id="card-product"></div>

    <!-- BEGIN: Pagination -->

    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap justify-center items-center mt-5">
      <ul class="pagination flex justify-center items-center"></ul>
      <select class="w-20 form-select box mt-3 sm:mt-0" name="forma" id="select-limit"></select>
    </div>

    <!-- END: Pagination -->
  </div>
<<<<<<< HEAD
  <!-- END: Data List -->

  <!-- BEGIN: Pagination -->
  <!-- END: Pagination -->
=======
  <script>
    const pageInfo = "<%-pageInfo?.pathTitle%>";
  </script>
>>>>>>> spaSellBuyProduct
</div>
