<span class="message-success" style="display: none"><%=locals.messages.success%></span>
<span class="message-error" style="display: none"><%=locals.messages.error%></span>

<main>
  <h2><a href="/panel/buy/">خرید محصول</a></h2>

  <input type="search" placeholder="جستجو..." name="" class="search-input" />

  <div class="container-products">
    <div class="product-table">
      <table>
        <thead>
          <tr>
            <th>تصویر</th>
            <th>عنوان</th>
            <th>قیمت خرید</th>
            <th>موجودی</th>
            <th>فروشنده</th>
            <th>تعداد</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tbody-product">
          <%response.products.forEach(product => {%>
          <tr>
            <td><img src="<%-product.img%>" alt="" /></td>
            <td>
              <a href="https://www.digikala.com/product/dkp-<%-product.dkp%>" target="_blank"><h3><%-product.title%></h3></a>
            </td>
            <td><%-product?.price%></td>
            <td><%-product?.count%></td>
            <td>
              <select id="buy-select-box" name="buy">
                <option value="خرید" selected>خرید</option>
              </select>
            </td>
            <td><input class="input-number" type="text" onkeypress="inputSaveBuyAndSell(event , '<%-product.id%>', 'buy')" /></td>
            <td class="col-20">
              <button class="btn success" onclick="btnSaveBuyAndSell(event ,'<%-product.id%>' , 'buy')" id="btn-save">ثبت</button>
              <button class="btn primary" onclick="btnShowReportBuy('<%-product.id%>')">گزارش خرید</button>
            </td>
            <% }) %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination">
    <a href="#">&laquo;</a>

    <%for(let i = 1; response.pages >= i ; i++) {%> <% if(i== response.page) { %>
    <a class="active" href="/panel/buy/?page=<%-i%>"><%-i%></a>
    <% } else {%>
    <a href="/panel/buy/?page=<%-i%>"><%-i%></a>
    <% } %> <% } %>

    <a href="#">&raquo;</a>
  </div>
</main>

<script src="/scripts/pages/panel/buy-sell.js"></script>
