<span class="message-success" style="display: none"><%=locals.messages.success%></span>
<span class="message-error" style="display: none"><%=locals.messages.error%></span>

<div class="content">
  <!-- BEGIN: Top Bar -->
  <div class="top-bar">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb ml-auto hidden sm:flex">
      <a href="">داشبورد</a> <i data-feather="chevron-left" class="breadcrumb__icon"></i>
      <a href="/panel/products" class="breadcrumb--active"><%- pageInfo?.pathTitle %></a>
    </div>
    <!-- END: Breadcrumb -->

    <!-- BEGIN: Notifications -->
    <%-include("../../layouts/panel/partials/_notification.ejs")%>
    <!-- END: Notifications -->
    <!-- BEGIN: Account Menu -->
    <%-include("../../layouts/panel/partials/_account_menu.ejs")%>
    <!-- END: Account Menu -->
  </div>
  <!-- END: Top Bar -->

  <h2 class="intro-y text-lg font-medium m-2"><%- pageInfo?.pathTitle %></h2>
  <div class="flex flex-col cursor-pointer justify-between sm:flex-row sm:w-full">
    <div class="flex">
      <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
        <div class="w-full relative text-gray-700 dark:text-gray-300">
          <% if(pageInfo?.query?.search) { %>
          <input
            onkeypress="inputSearchEnter(event)"
            type="text"
            class="form-control w-full box pl-10 placeholder-theme-13"
            placeholder="جستجو..."
            value="<%-pageInfo?.query?.search%>"
          />
          <% } else {%>
          <input onkeypress="inputSearchEnter(event)" type="text" class="form-control w-full box pl-10 placeholder-theme-13" placeholder="جستجو..." /><% } %>
          <i class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0" data-feather="search"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="grid md:grid-cols-3 gap-4 mt-3">
    <div class="flex">
      <select
        onchange="selectBoxColor(event)"
        id="color-select-box"
        data-placeholder="انتخاب رنگ"
        data-search="true"
        class="tail-select w-full z-[53]"
        multiple
      >
        <!---->
        <% colors.forEach(color => { %>
        <!---->
        <% if(pageInfo?.query?.color?.split(",").includes(color.name)){%>
        <option selected value="<%-color.name%>"><%-color.name %></option>
        <%} else {%>
        <option value="<%-color.name%>"><%-color.name %></option>
        <% } %><% }) %>
      </select>
    </div>

    <div class="flex">
      <select
        onchange="selectBoxCategory(event)"
        id="category-select-box"
        data-placeholder="انتخاب دسته بندی"
        data-search="true"
        class="tail-select w-full z-[52]"
        multiple
      >
        <% categories.forEach(category => { %>
        <!---->
        <% if(pageInfo?.query?.category?.split(",").includes(category.name)){%>
        <option selected value="<%-category.name%>"><%-category.name %></option>
        <%} else {%>
        <option value="<%-category.name%>"><%-category.name %></option>
        <% } %><% }) %>
      </select>
    </div>

    <div class="flex">
      <select
        onchange="selectBoxSeller(event)"
        id="seller-select-box"
        data-placeholder="انتخاب فروشنده"
        data-search="true"
        class="tail-select w-full z-[51]"
        multiple
      >
        <% sellers.forEach(seller => { %>
        <!---->
        <% if(pageInfo?.query?.seller?.split(",").includes(seller?.sellerTitle)){%>
        <option selected value="<%-seller.sellerTitle%>"><%-seller.sellerTitle %></option>
        <%} else {%>
        <option value="<%-seller.sellerTitle%>"><%-seller.sellerTitle %></option>
        <% } %><% }) %>
      </select>
    </div>
  </div>
  <!-- BEGIN: Data List -->

  <div class="intro-y col-span-10 overflow-auto">
    <table class="table table-report -mt-2">
      <thead>
        <tr class="">
          <th>تصاویر</th>
          <th class="whitespace-nowrap">
            <a class="pagination__link" href="">
              نام محصول
              <i class="w-4 h-4" data-feather="chevron-down"></i>
            </a>
          </th>
          <th class="whitespace-nowrap text-center">کاهش</th>
          <th class="whitespace-nowrap text-center">کمترین</th>
          <th class="whitespace-nowrap text-center">بیشترین</th>
          <th class="whitespace-nowrap text-center">ربات</th>
          <th class="whitespace-nowrap text-center">بای باکس</th>
          <th class="whitespace-nowrap text-center">افزایش</th>
          <th class="whitespace-nowrap text-center"></th>
        </tr>
      </thead>
      <tbody>
        <%response?.products.forEach((product) => {%>
        <tr class="intro-x">
          <td>
            <div class="flex">
              <div class="w-10 h-10 image-fit zoom-in rounded-full">
                <img alt="" class="rounded-full" src="<%-product.img %>" />
              </div>
            </div>
          </td>
          <td>
            <a
              href="https://www.digikala.com/product/dkp-<%-product.dkp %>"
              target="_blank"
              class="font-medium line-clamp-2 leading-6 -mr-5 tooltip"
              data-theme="light"
              title="<%-product.title %>"
              ><%-product.title %></a
            >
          </td>

          <td>
            <div class="flex justify-center items-center">
              <input id="input-reduce-price" type="text" class="form-control w-16 text-center" value="<%-product?.robot?.reducePrice %>" />
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center">
              <input id="input-min-price" type="text" class="form-control w-20 text-center" value="<%-product?.robot?.minPrice %>" />
            </div>
          </td>

          <td>
            <div class="flex justify-center items-center">
              <input id="input-max-price" type="text" class="form-control w-20 text-center" value="<%-product?.robot?.maxPrice %>" />
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center">
              <input <%-product?.robot?.isActive ? "checked" : "" %> name="isRobot" id="switch-is-active" class="form-check-switch" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center">
              <input <%-product?.robot?.isBuyBox ? "checked" : "" %> name="isRobot" id="switch-is-buybox" class="form-check-switch" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="flex justify-center items-center">
              <input <%-product?.robot?.isCheckPrice ? "checked" : "" %> name="isRobot" id="switch-is-checkprice" class="form-check-switch" type="checkbox" />
            </div>
          </td>

          <td class="flex justify-center">
            <div class="flex justify-center items-center">
              <button onclick="btnSaveRobot(event ,'<%-product._id%>')" class="btn btn-primary w-16 ml-1 mb-2">ثبت</button>
            </div>
          </td>
        </tr>
        <%}) %>
      </tbody>
    </table>
  </div>
  <!-- END: Data List -->
  <!-- BEGIN: Pagination -->
  <%-include("../../layouts/panel/partials/_pagination.ejs" , {response , pageInfo })%>
  <!-- END: Pagination -->
</div>
<script src="/pages/panel/products.js"></script>
<script src="/pages/panel/robot-control.js"></script>
<script src="/pages/panel/shared.js"></script>
