<!DOCTYPE html>

<html lang="fa" class="light">
  <!-- BEGIN: Head -->
  <head>
    <meta charset="utf-8" />
    <link href="/dist/images/logo.svg" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%-pageInfo?.pathTitle %></title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/dist/css/style.css" />
    <link rel="stylesheet" href="/dist/css/app.css" />
    <!-- END: CSS Assets-->
  </head>
  <!-- END: Head -->
  <body class="main">
    <!-- BEGIN: Mobile Menu -->
    <%-include("./partials/_mobile-menu.ejs")%>
    <!-- END: Mobile Menu -->

    <div class="flex">
      <!-- BEGIN: Side Menu -->
      <%-include("./partials/_side-menu.ejs")%>
      <!-- END: Side Menu -->

      <!-- BEGIN: Content -->
      <%-body%>
      <!-- END: Content -->
    </div>

    <%-include("./partials/_scripts.ejs")%>
  </body>
</html>
