<!DOCTYPE html>

<html lang="en" class="light">
  <!-- BEGIN: Head -->
  <head>
    <meta charset="utf-8" />
    <link href="/dist/images/logo.svg" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Rubick admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities."
    />
    <meta name="keywords" content="admin template, Rubick Admin Template, dashboard template, flat admin template, responsive admin template, web app" />
    <meta name="author" content="LEFT4CODE" />
    <title><%-page === "register" ? "ثبت نام" : "ورود"%></title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/dist/css/app.css" />
    <!-- END: CSS Assets-->
  </head>
  <!-- END: Head -->
  <body class="login">
    <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Login Info -->
        <%-page === "register" ? include("./partials/_register.ejs") : include("./partials/_login.ejs")%>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <%-body %>
        <!-- END: Login Form -->
      </div>
    </div>

    <input id="api-url" data-api="<%- apiUrl %>" class="hidden" />
    <%-include("./partials/_scripts.ejs")%>
  </body>
</html>
