<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Trigger/Open The Modal -->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2></h2>
          <span class="close">&times;</span>
        </div>
        <div class="modal-body">
          <form class="modal-insert-product" id="form" novalidate="novalidate">
            <div class="row">
              <div class="col-35">
                <label for="title-pro">نام محصول :</label>
              </div>
              <div class="col-65">
                <input type="text" id="title-pro" name="title" />
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="dkp-pro">کد محصول :</label>
              </div>
              <div class="col-65">
                <input type="text" id="dkp-pro" name="dkp" oninput="getApiDigiKala(event)" />
              </div>
            </div>
            <div class="row">
              <div class="col-35">
                <label for="dkpc-pro">کد تنوع :</label>
              </div>
              <div class="col-65"><input type="text" id="dkpc-pro" name="dkpc" /></div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="price-pro">قیمت فروش :</label>
              </div>
              <div class="col-65">
                <input type="text" id="price-pro" name="price" />
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="img-pro">تصویر محصول :</label>
              </div>
              <div class="col-50">
                <input type="text" id="img-pro" name="img" />
              </div>
              <div class="col-15">
                <img class="img-src" alt="" width="60" height="60" />
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="link-pro">لینک محصول :</label>
              </div>
              <div class="col-65">
                <input type="text" id="link-pro" name="link" />
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="width-pro">طول :</label>
              </div>
              <div class="col-65">
                <input type="text" id="width-pro" name="width" />
              </div>
            </div>
            <div class="row">
              <div class="col-35">
                <label for="height-pro">عرض :</label>
              </div>
              <div class="col-65">
                <input type="text" id="height-pro" name="height" />
              </div>
            </div>
            <div class="row">
              <div class="col-35">
                <label for="count-pro">موجودی :</label>
              </div>
              <div class="col-65">
                <input type="text" id="count-pro" name="count" />
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="color-pro">رنگ</label>
              </div>
              <div class="col-65">
                <select id="color-pro" name="color">
                  <option value="none" selected disabled hidden>انتخاب کنید</option>
                  <%colors.forEach(color => {%>
                  <option value="<%=color._id%>"><%=color.color%></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-35">
                <label for="categorie-pro">دسته بندی</label>
              </div>
              <div class="col-65">
                <select id="categorie-pro" name="categorie">
                  <option value="none" selected disabled hidden>انتخاب کنید</option>
                  <%categories.forEach(categorie => {%>
                  <option value="<%=categorie._id%>"><%=categorie.categories%></option>
                  <%})%>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-35">
                <label for="seller-pro">فروشنده</label>
              </div>
              <div class="col-65">
                <select id="seller-pro" name="seller">
                  <option value="none" selected disabled hidden>انتخاب کنید</option>
                  <%sellers.forEach(seller => {%>
                  <option value="<%=seller._id%>"><%=seller.sellerTitle%></option>
                  <%})%>
                </select>
              </div>
            </div>

            <div class="row">
              <input class="col-100" id="btn-form" type="submit" value="" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="modal-yes-no" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2></h2>
          <span class="close">&times;</span>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>

    <div class="container">
      <%-include("./_aside")%>

      <main>
        <h2>مدیریت محصولات فروشگاه</h2>
        <div class="seach-container">
          <input type="search" placeholder="جستجو..." name="" class="search-input" />
          <input type="search" placeholder="کمتر از ..." name="" class="min-input col-35" />
          <select id="color-select-box" name="color">
            <option value="none" selected disabled hidden>انتخاب رنگ</option>
            <%colors.forEach(color => {%>
            <option value="<%=color._id%>"><%=color.color%></option>
            <%})%>
          </select>
          <select id="categorie-select-box" name="categorie">
            <option value="none" selected disabled hidden>انتخاب دسته بندی</option>
            <%categories.forEach(categorie => {%>
            <option value="<%=categorie._id%>"><%=categorie.categories%></option>
            <%})%>
          </select>
          <select id="seller-select-box" name="seller">
            <option value="none" selected disabled hidden>انتخاب فروشنده</option>
            <%sellers.forEach(seller => {%>
            <option value="<%=seller._id%>"><%=seller.sellerTitle%></option>
            <%})%>
          </select>
        </div>
        <br />
        <button id="insert-product" class="btn success">ثبت محصول جدید</button>
        <!-- <button id="btn-products" class="btn success"><a href="http://localhost:3000/products">محصولات</a></button> -->
        <button id="btn-products" class="btn success"><a href="#">محصولات</a></button>
        <button id="btn-categories" class="btn success">دسته بندی ها</button>
        <button id="btn-colors" class="btn success">رنگ ها</button>
        <button id="btn-sellers" class="btn success">فروشنده ها</button>
        <button id="btn-robot" class="btn success">ربات</button>
        <div class="container-products">
          <div class="product-table">
            <table>
              <thead>
                <tr>
                  <th>تصویر</th>
                  <th>عنوان محصول</th>
                  <th>کد محصول</th>
                  <th>قیمت</th>
                  <th>موجودی</th>
                  <th>ربات</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="tbody-product"></tbody>
            </table>
          </div>
        </div>
        <div class="pagination-container"></div>
      </main>
    </div>

    <script src="https://kit.fontawesome.com/7f969f3a77.js" crossorigin="anonymous"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/product.js"></script>
  </body>
</html>
